

<!--// Includes-->
<!--include languaje-->

<!--//- Insert Global Components-->


<!--//- Include Global Libraries-->
<!--include svg_library-->

<!--//- Insert Global Pluggins-->
<!--+multilingual()-->



//- :::  End Footer Content ::: -//

<nav class="bottom lastSlideOnly">
    <div class="sections desktop">
        <div class="left"></div>
        <div class="center"><h7>2021-2023 / Los Ángeles, Chile</h7></div>
        <div class="right"></div>
    </div>
    <div class="sections compact hidden">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</nav>
</body>
</html>
