<nav class="panel top hideOnScroll">
    <div class="sections desktop">
        <div class="left"></div>
        <div class="center"><a class="trimTop"><img src="assets/img/myplanner-logo.png" style="width:60px;height:60px"</a></div>
        <div class="right">
            <ul class="menu trim">
                <li class="cropRight"><a class="trimRight" href="https://www.instagram.com/myplannerstore" target="_blank"><img src="assets/img/ig-logo.png" style="width:24px;height:24px" alt="Logo Instagram"></a></li>
            </ul>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left"></div>
        <div class="right"><a class="trimRight" href="https://www.instagram.com/myplannerstore" target="_blank"><img src="assets/img/ig-logo.png" style="width:24px;height:24px" alt="Logo Instagram"></a></div>
    </div>
</nav>